/.DS_Store
/Spaceship/.DS_Store
/Spaceship/Spaceship.xcworkspace/xcuserdata/duke.xcuserdatad/UserInterfaceState.xcuserstate
/Spaceship/Spaceship.xcworkspace/xcuserdata
/Spaceship/Spaceship/.DS_Store
/Spaceship/Spaceship/Assets.xcassets/.DS_Store
/Spaceship/Spaceship/Assets.xcassets/Laser/.DS_Store
/Spaceship/Spaceship/Assets.xcassets/Spaceship/.DS_Store
